.content{
    width: 50%;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.blue-content{
    color: #59fe;
    padding: 10px 0px 20px 0px;
    font-size: 1em;
}
.blue-content a{
    text-decoration: none;
    color: inherit;
}

.hash-content{
    font-size: 1.5em;
    padding: 10px;
    margin-bottom: 10px;
}

.content-para{
    margin-top: 10px;
}

.content-emp{
    font-size: 1.2em;
    font-style: oblique;
    font-weight: bolder;
    margin-bottom: 15px;
}

.images{
    margin: 5px;
}

.query-content{
    font-weight: bolder;
}
.contact-info{
    font-size: 0.6em;
    font-weight: bold;
}
.contact{
    padding: auto;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.contact-items{
    padding-left: 10px;
}

.footer{
    background-color: black;
    color: white;
    padding: 10px;
}


@media screen and (max-width:800px){
    .content{
        width: 100%;
    }
}